@import ../../assets/style/mobileFirst
@import ../../assets/style/grid

.character-modal
  &__header
    padding: 24px
    align-items: center
    cursor: pointer
    justify-content: flex-end
    &__close
      width: 24px
      height: 24px
      opacity: 0.3
      position: relative
      &:hover
        opacity: 1
      &:before, &:after
        position: absolute
        left: 15px
        content: ''
        height: 24px
        width: 2px
        background-color: #333
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(-45deg)
  &__overlay
    overflow: auto
    z-index: 1050
    background: rgba(0, 0, 0, .55)
    border-radius: inherit
    bottom: 0
    left: 0
    position: fixed
    right: 0
    top: 0
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms
  &__card
    border: 5px solid rgba(0, 92, 187, 0.4)
    background: #f0f1f4
    width: 100%
    overflow: auto
    display: block
    margin: 0
    height: 100%
    +media-min-md
      height: auto
      position: absolute
      min-height: 525px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 75%
  &__description
    height: 140px
    overflow: auto
  &__name
    text-align: center
    font-size: 22px
    font-weight: bold
    margin-top: 12px
  &__content
    +media-min-md
      margin-left: -10px
  &__avatar
    width: 100%
    height: 200px
